

<%= tag.h1 "Task categories" %>

<%= tag.div id: "task_categories" do %>
  <% @task_categories.each do |task_category| %>
    <%= render task_category %>
    <p>
      <%= link_to "Show this task category", task_category %>
    </p>
  <% end %>
<% end %>

<%= link_to "New task category", new_task_category_path %>
