

<%= tag.h1 "Estimates" %>

<%= tag.div id: "estimates" do %>
  <% @estimates.each do |estimate| %>
    <%= render estimate %>
    <p>
      <%= link_to "Show this estimate", estimate %>
    </p>
  <% end %>
<% end %>

<%= link_to "New estimate", new_estimate_path %>
