

<%= tag.h1 "Invoices" %>

<%= tag.div id: "invoices" do %>
  <% @invoices.each do |invoice| %>
    <%= render invoice %>
    <p>
      <%= link_to "Show this invoice", invoice %>
    </p>
  <% end %>
<% end %>

<%= link_to "New invoice", new_invoice_path %>
