

<%= tag.h1 "Expense types" %>

<%= tag.div id: "expense_types" do %>
  <% @expense_types.each do |expense_type| %>
    <%= render expense_type %>
    <p>
      <%= link_to "Show this expense type", expense_type %>
    </p>
  <% end %>
<% end %>

<%= link_to "New expense type", new_expense_type_path %>
