

<%= tag.h1 "Statements" %>

<%= tag.div id: "statements" do %>
  <% @statements.each do |statement| %>
    <%= render statement %>
    <p>
      <%= link_to "Show this statement", statement %>
    </p>
  <% end %>
<% end %>

<%= link_to "New statement", new_statement_path %>
