<%= form_with(model: shift, html: { class: 'form'}) do |form| %>
  <% if shift.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
        <% shift.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--div>
    <%= form.label :project_id %>
    <%= form.collection_select @shift.project_id, Project.order(:id), :id, :name %>
  </div>
  <div>
    <%= form.label :task_category_id %>
    <%= form.collection_select @shift.project_id, TaskCategory.order(:id), :id, :name %>
  </div-->
  <div>
    <%= form.label :start, style: "display: block" %>
    <%= form.datetime_local_field :start %>
  </div>
  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.datetime_local_field :end %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <!--div>
    <%= form.label :task_id, style: "display: block" %>
    <%= form.collection_select :task_id, Task.order(:id), :id, :project_id %>
  </div-->

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= @shift.duration %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
