

<%= tag.h1 "Shifts" %>

<%= tag.div id: "shifts" do %>
  <table class="list list--shifts">
    <thead>
      <tr>
        <th>Shift</th>
        <th>Task</th>
        <th>Project Name</th>
        <th>Created DT</th>
        <th>Minutes Worked</th>
        <th>...</th>
      </tr>
    </thead>
    <tbody>
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= link_to shift.id, shift, { class: "button button--light" } %></td>
          <td><%= shift.task.task_category.name %></td>
          <td><%= shift.task.project.name %></td>
          <td><%= shift.created_at %></td>
          <td><%= shift.duration %></td>
          <td class="actions"><%= link_to "Edit", edit_shift_path(shift), { class: "button button--primary" } %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  <% end %>
<% end %>

<%= link_to "Add shift", new_shift_path, { class: "button button--primary" } %>
