

<%= tag.h1 "Orders" %>

<%= tag.div id: "orders" do %>
  <% @orders.each do |order| %>
    <%= render order %>
    <p>
      <%= link_to "Show this order", order %>
    </p>
  <% end %>
<% end %>

<%= link_to "New order", new_order_path %>
