

<%= tag.h1 "Credits" %>

<%= tag.div id: "credits" do %>
  <% @credits.each do |credit| %>
    <%= render credit %>
    <p>
      <%= link_to "Show this credit", credit %>
    </p>
  <% end %>
<% end %>

<%= link_to "New credit", new_credit_path %>
