

<%= tag.h1 "Payments" %>

<%= tag.div id: "payments" do %>
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment %>
    </p>
  <% end %>
<% end %>

<%= link_to "New payment", new_payment_path %>
