

<%= tag.h1 "Receipts" %>

<%= tag.div id: "receipts" do %>
  <% @receipts.each do |receipt| %>
    <%= render receipt %>
    <p>
      <%= link_to "Show this receipt", receipt %>
    </p>
  <% end %>
<% end %>

<%= link_to "New receipt", new_receipt_path %>
