<div class="header">
  <div class="btn btn--primary"><%= link_to "Contacts", contacts_path %></div>
  <div class="btn btn--primary"><%= link_to "Clients", clients_path %></div>
  <div class="btn btn--primary"><%= link_to "Projects", projects_path %></div>
  <div class="btn btn--primary"><%= link_to "Events", events_path %></div>
  <div class="btn btn--primary"><%= link_to "Shifts", shifts_path %></div>
  <div class="btn btn--primary"><%= link_to "Tasks", tasks_path %></div>
  <div class="btn btn--primary"><%= link_to "Task Categories", task_categories_path %></div>
</div>