<div class="header">
  <%= link_to "Contacts", contacts_path, { class: "btn btn--primary" } %>
  <%= link_to "Clients", clients_path, { class: "btn btn--primary" } %>
  <%= link_to "Projects", projects_path, { class: "btn btn--primary" } %>
  <%= link_to "Events", events_path, { class: "btn btn--primary" } %>
  <%= link_to "Shifts", shifts_path, { class: "btn btn--primary" } %>
  <%= link_to "Tasks", tasks_path, { class: "btn btn--primary" } %>
  <%= link_to "Task Categories", task_categories_path, { class: "btn btn--primary" } %>
</div>